body{
  background:#ccc;
  text-align:center;
}

header{
  font-size:180%;
  color:red;
  padding:20px;
}

h1{
  font-weight:normal;
}

#main{
  width:60%;
  margin:auto;
  text-align:center;
}


#board {
  position:relative;
  box-sizing:border-box;
  height:300px;
  width:100%;
  background:#3f9;
  padding-top: 5ex;
  border:3px solid brown;
}

#player{
  display:inline-block;
  position:relative;
  width:50%;
}

#dealer{
  display:inline-block;
  position:relative;
  width:50%;
}